<h1>*ngIf</h1>
<div *ngIf="cources.length > 0; then cour else nocour"></div>
<ng-template #cour>
    List Of Cources
</ng-template>
<ng-template #nocour>
    No Cources
</ng-template><br>

<h1>Hidden</h1>
<div [hidden]="cources.length == 0 ">
    List of Cources
</div>
<div [hidden]="cources.length > 0 ">
    No Cources
</div>

<br>
<h1>ngSwitch</h1>

<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'R'"><a (click)="viewMode = 'R'">Ruchita</a></li>
    <li [class.active]="viewMode == 'K'"><a (click)="viewMode = 'K'">Ketan</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'R'">Ruchita Content</div>
    <div *ngSwitchCase="'K'">Ketan Content</div>
    <div *ngSwitchDefault>No Selected</div>
</div><br>

<h1>*ngFor</h1>
<button (click)="onDisplay()">Display</button>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let i of info; trackBy : trackInfo">
        {{j}} - {{i.name}}
        <button (click)="onRemove(i)">Remove</button>
        <button (click)="onUpdate(i)">Update</button>
    </li>
</ul><br>

<!-- <h1>ngClass</h1>
<span
class="glyphicon"
[class.glyphicon-star]="isSelected"
[class.glyphicon-star-empty]="!isSelected"
[ngclass] = "{ 
    'glyphicon-star':isSelected,
    'glyphicon-star-empty':!isSelected
}"
(click)="onclick()"
></span>  -->

<h1>Style binding Without ngStyle</h1>
<button [style.backgroundColor]="canSave ? 'blue' : 'red' " [style.color]="canSave ? 'gray' : 'white' "
    [style.fontWeight]="canSave ? 'bold' : 'normal'">
    Save
</button>
<br>
<h1>Style binding With ngStyle</h1>
<button [ngStyle]="{
        'backgroundColor' :  canSave ? 'blue' : 'red',
        'color' : canSave ? 'gray' : 'black'
    }">
    Hello
</button><br>

<h1>Custom Directives</h1>
UpperCase Convert : <input type="text" [appInputFormat]="'uppercase'">