body{
            height: 500px;
           
            justify-content: center;
            align-items: center;
        }
        .b1
        {
        	box-shadow: 1px 1px 12px 11px rgb(248,248,248);
  				 width: 230px;
  				  height: 320px;
  				  background-color: #fff;
  				  border-radius: 5px;
  				  padding: 16px;
  				 margin-left: 20px;
  				 float: left;

        }
        img
        {
        	border-radius: 50%; width: 100px;margin-left: 60px;

        }
        .b11
        {
        	 text-align: center;
        }
        .b12
        {
        	text-align: center;
        	font-weight: bold;
        	
        }
        .bo
        {
        	border-bottom: 1px solid lightgrey;

        }
        .co
        {
        	text-align: center;color: lightgrey;
        }
        .ma
        {
            margin-left: 250px;
        }