<div class="card m-3">
    <h5 class="card-header">Worker Registration Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>First Name</label><sup>*</sup>
                    <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Last Name</label><sup>*</sup>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label><sup>*</sup>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Contact Number</label><sup>*</sup>
                    <input type="text" formControlName="contact" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                    <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                        <div *ngIf="f.contact.errors.required">Contact is Require</div>
                        <div *ngIf="f.contact.errors.pattern">Only Number Allowed</div>
                        <div *ngIf="f.contact.errors.minlength">Enter 10 Digit Contact Number</div>
                        <div *ngIf="f.contact.errors.maxlength">Enter 10 Digit Contact Number</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>AlterNative Contact Number</label>
                    <input type=text formControlName="acontact" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.acontact.errors }" />
                    <div *ngIf="submitted && f.acontact.errors" class="invalid-feedback">
                        <div *ngIf="f.acontact.errors.pattern">Only Number Allowed</div>
                        <div *ngIf="f.acontact.errors.minlength">Enter 10 Digit Contact Number</div>
                        <div *ngIf="f.acontact.errors.maxlength">Enter 10 Digit Contact Number</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Designation</label><sup>*</sup>
                    <input type="text" formControlName="designation" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
                    <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                        <div *ngIf="f.designation.errors.required">Enter Your Designation</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Year Of Exeprience</label><sup>*</sup>
                    <input type="text" formControlName="experience" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
                    <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                        <div *ngIf="f.experience.errors.required">Enter Your Experience</div>
                        <div *ngIf="f.experience.errors.pattern">Only Number Allowed</div>
                        <div *ngIf="f.experience.errors.maxlength">Enter Maximum 2 Digit</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Joining Date</label><sup>*</sup>
                    <input type="text" formControlName="joining" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.joining.errors }" />
                    <div *ngIf="submitted && f.joining.errors" class="invalid-feedback">
                        <div *ngIf="f.joining.errors.required">Select Your Joining Date</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Current Address</label><sup>*</sup>
                <textarea cols="2" rows="4" type="text" formControlName="address" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" ></textarea>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                    <div *ngIf="f.address.errors.minlength">Enter Minimum 20 Character</div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-5">
                    <label>City</label>
                    <input type="text" formControlName="city" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.minlength">Enter Minimum 3 Character</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>State</label>
                    <input type="text" formControlName="state" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.minlength">Enter Minimum 3 Character</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Pincode</label>
                    <input type="text" formControlName="pincode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                    <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                        <div *ngIf="f.pincode.errors.pattern">Only Number Allowed</div>
                        <div *ngIf="f.pincode.errors.minlength">Enter 6 Digit Pincode</div>
                        <div *ngIf="f.pincode.errors.maxlength">Enter 6 Digit Pincode</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-5">
                    <label>Pan Card</label><sup>*</sup>
                    <input type="text" formControlName="pan" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.pan.errors }" />
                    <div *ngIf="submitted && f.pan.errors" class="invalid-feedback">
                        <div *ngIf="f.pan.errors.required">PanCard is Require</div>
                        <div *ngIf="f.pan.errors.minlength">Enter 10 Digit PanCard Number</div>
                        <div *ngIf="f.pan.errors.maxlength">Enter 10 Digit PanCard Number</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Aadhar Card</label><sup>*</sup>
                    <input type="text" formControlName="aadhar" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.aadhar.errors }" />
                    <div *ngIf="submitted && f.aadhar.errors" class="invalid-feedback">
                        <div *ngIf="f.aadhar.errors.required">AadharCard is Require</div>
                        <div *ngIf="f.aadhar.errors.pattern">Only Number Allowed</div>
                        <div *ngIf="f.aadhar.errors.minlength">Enter 12 Digit AadharCard Number</div>
                        <div *ngIf="f.aadhar.errors.maxlength">Enter 12 Digit AadharCard Number</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>PassPort</label>
                    <input type="text" formControlName="passport" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.passport.errors }" />
                    <div *ngIf="submitted && f.passport.errors" class="invalid-feedback">
                        <div *ngIf="f.passport.errors.minlength">Enter 8 Digit AadharCard Number</div>
                        <div *ngIf="f.passport.errors.maxlength">Enter 8 Digit AadharCard Number</div>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label><sup>*</sup>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label><sup>*</sup>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
                    [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" /><sup>*</sup>
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div>