 

.example-card {
    max-width: 400px;
  }
  
 mat-card
 {
   margin: 1rem;
   display: flex;
   flex-direction: column;
   
 }

  .header-image
  {
    background-size: cover;
  }
.card-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}